body { padding: 0; margin: 0 }
#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { position: fixed; width: 100%; height: 100% }

#unity-loading-bar {
    position: absolute;
    width: 100%;
    bottom: 0px; /* Position 10px from the bottom of the screen */
    left: 0; /* Align to the left */
    transform: translateX(0); /* No horizontal shift */
    display: none; /* Initially hidden */
    background: url('RoadMap_Loading.png') no-repeat;
    background-size: contain; /* Fit the image inside without cropping */
    background-position: center calc(100% + 0px); /* Center horizontally, move down by 10px */
    background-color: transparent; /* Optional: Transparent background */
}


#unity-canvas { background-image: url('RoadMap.png'); background-size: cover; background-position: center; background-repeat: no-repeat; width: 100%;}.png
.unity-mobile #unity-canvas { width: 100%; height: 100% }

#unity-logo { width: 154px; height: 130px;  }
#unity-progress-bar-empty { width: 141px; height: 48px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 48px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative}
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { cursor:pointer; float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }